body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    color: aqua;
}

.top-container {
    background-color: #1F2937;
    height: 500px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.awesome-container {
    width: 420px;
    
}

.random-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-text {
    width: 100px;
}