body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h5 {
  font-size: 24px;
  color: #F9FAF8  
}

.top-container {
    background-color: #1F2937;
    height: 500px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.awesome-container {
    width: 420px;
    color: #E5E7EB;
    font-size: 18px;
    
}

.random-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-text {
    width: 150px;
    
}

.small-images {
    border: solid 2px blue;
    border-radius: 10px;
    height: 140px;
    width: 140px;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin: 0;
   padding: 100px;
    background-color: #E5E7EB;
}

blockquote {
    width: 600px;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
}
figcaption {
    font-weight: 800;
}

button, .cta-container {
    background-color: #3882F6;
}
 
button {
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
}

.cta-button {
    border: solid 2px white;
}

.cta-container {
    width: 80vw;
    border-radius: 10px;
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

.cta {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

} 

.cta h3 {
    margin: 0;
    color: white;
}

.container2 {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #1F2937;
    color: #ffffff;
    padding: 10px;
}

